{% extends 'tpo/base.html' %}
{% load static %}
{% block content %}
<div id="msg-director" class="tile-content ui-home container"  style="display: block;">
<h3>Message from Director</h3>
<p class="fright" style="padding: 0 0 5px 15px;"><img src="{% static 'images/director.png'%}"></p>
<p>Greetings from Indian Institute of Technology (BHU) Varanasi ! </p>
<br>
<p>Knowledge and continuous learning are the mainstays amongst the leading organizations today. In view of this requirement and the visions and ideals of its illustrious founder Pt. Madan Mohan Malviyaji, Indian Institute of Technology (BHU) Varanasi grooms its students with a perfect blend of academics, core competencies, ethics and values so that they evolve and succeed in every sphere of their life in our radical and complex society.</p>
<br>
<p>It gives me immense pleasure to welcome organizations to campus recruitment program at our institute. It is my earnest belief that the training of academically wholesome life at IIT (BHU) Varanasi had prepared our students to face any challenges and take on responsible positions in the corporate world.</p>
<br>
<p>I am sure that students selected by your organization shall excel and achieve beyond your expectations and they will prove to be an asset to your organization. I wish all the best to the campus recruitment program and all students in their endeavors. I hope that recruiting organizations will be able to derive immense benefit through this program and would go a long way to build a long lasting and fruitful mutual relationship.</p>
<br>
<p>We look forward to your visit to our campus soon.</p>
<br>
<p><strong>Professor Rajeev Sangal</strong><br>Director, IIT (BHU) Varanasi</p>
<p>	</p>		
</p>
</div>
{% endblock %}